.friends {
  display: grid;
  /* grid-template-columns: 2fr 10fr; */
}

.friends_items {
  padding: 15px;
  
}

.friend a {
  text-decoration: none;
  color: wheat;
  display: flex;
}

 .activeLink a {
  color: burlywood;
}

.messages {
  padding: 15px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.selectPage {
  font-weight: bold;
}
.pageNumber {
  cursor: pointer;
}