.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dailogs_items {
  padding: 15px;
  
}

.dialog a {
  text-decoration: none;
  color: wheat;
  display: flex;
}

 a.activeLink {
  color: coral;
}

.messages {
  padding: 15px;
}

.avatar {
  width: 30pxpx;
  height: 30px;
  border-radius: 50%;
}